{#
/**
 * @file
 * Default theme implementation to present a content item entity.
 *
 * This template is used when viewing a canonical content item page,
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.label'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_content_item()
 */
#}
<article{{attributes}}>
	{% if view_mode != 'full' %}
		{{ title_prefix }}
		{{ title_suffix }}
	{% endif %}
	{% if content %}
		{% if is_new %}
			<span class="badge badge-new">{{'NEW'|t}}</span>
		{% endif %}
		{{- content -}}
	{% endif %}
</article>
